.quick-links {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(8, 1fr); /* vsechny položky na řádku */
    gap: 10px; /* Zvýšení mezery mezi položkami */
    margin: 20px auto; /* Center the component */
    padding: 10px 0;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; /* Match the width of other components */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.quick-link-text {
    font-size: 1.5rem; /* Match .category-title font size */
    font-weight: 600; /* Match .category-title font weight */
    text-decoration: none;
    color: #333; /* Match .category-title color */
    transition: color 0.3s ease;
    text-align: center;
}

.quick-link-text:hover {
    color: #007bff; /* Match .category-title hover color */
}

.quick-link-text.add-recipe {
    color: #1976d2; /* Green color for "Přidat recept" */
}
.quick-link-text.add-recipe:hover {
    color: #0056b3; /* Darker blue on hover */
}

.quick-link-text.cart-link {
    color: #4CAF50; /* Red color for "Košík" */
}
.quick-link-text.cart-link:hover {
    color: #388e3c; /* Darker green on hover */
}

@media (max-width: 768px) {
    .quick-links {
        grid-template-columns: repeat(2, 1fr); /* 2 položky na řádku na menších obrazovkách */
    }
}

@media (max-width: 480px) {
    .quick-links {
        grid-template-columns: 1fr; /* 1 položka na řádku na velmi malých obrazovkách */
    }
}
